* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    text-align: center;
    width: 100%;
}
footer address,
.container-logo a {
    display: block;
    color: #fff;
    background-color: #000;
    padding: 10px;
    font-size: 30px;
    font-family: cursive;
    text-align: center;
}

.container-nav {
 
position: sticky;
justify-content: center;
top: 0;
z-index: 1;
}
.container-nav ul {
    display: flex;
    text-align: center;
    background-color: rgb(245, 127, 9);
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
.container-nav ul li{
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

.container-nav ul li a{
    display: block;
    padding: 10px;
    width: 100%;
    color: #000;
    justify-content: center;
}


.bloc{
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content:flex-start;
    overflow: hidden;
}

.pic {
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    margin-top: 20px;
}
.pic__container{
    overflow: hidden;
}


.pic img{
    height: 100%;
    width: 440px;
    display: block;
    transition: all 3s ease;
    
}
.pic img:hover{
    transform: scale(1.5);
}

.bloc2{
    margin: 150px;
}

.faq{
    display: flex;
    margin: 30px;
    flex-direction: column;
}
.faq_container{
    display: flex;
    background-color: #000;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 40px;
    height: 40px;
}

.faq_container h3{
    display: block;
    font-size: 20px;
    text-align: left;  
    padding: 10px; 
}

.plus >a{
    padding: 10px;
    font-size: 20px;
    color: #fff;
}
   
.faq_txt p{
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    margin-top: 15px;
}

@media screen and (max-width: 400px){
    .pic__container{
        width: 150px;
    }
    .faq{
        background-color: aqua;
        width: 100%;
    }
    .faq_txt p{
        margin: 1px;/* width: 100px; */
    }
}