.Assignment{
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20%;
}

.Assignment-div{
    text-align: center;
    line-height: 50px;
}

.Assignment-div h1{
    font-family: cursive;
    color: rgb(246, 246, 246);
    font-size: 80px;
   
    
}

.Assignment-div >p{
    line-height: 1.5;
    font-family: cursive;
    color:rgb(246, 246, 246);
}

.btn{
    
    background-color: rgb(67, 98, 142);
    text-decoration: none;
    font-size: 15px;
    font-style: italic;
    padding: 20px 90px;
    border: none;
    border-radius: 50px;
    color: rgb(246, 246, 246);
    cursor: pointer;
}






