

article{
    h1{
    font-size: 30px;
    padding: 40px;
    font-family: cursive;
    border: 1px solid #000000;
    }
}

.b-bloc{
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content:flex-start;
    overflow: hidden;

    .container{
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;

        .container_pic {

            img {
                height: 90%;
                width: 500px;  
            }

            p{
                display: block;
                text-align: center;
            }
        }
    }
}

.ft{
    border: 1px solid #000000;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;


    .btn{
   
        background-color: rgb(67, 98, 142);
        text-decoration: none;
        font-size: 15px;
        font-style: italic;
        padding: 20px 90px;
        border: none;
        border-radius: 50px;
        color: rgb(246, 246, 246);
        cursor: pointer;
    }
}

@media screen and (min-width: 400px){
    .container_pic img{
        height: 100px;
        width: 100px;
        margin-left: 55px;
    }  

    .container_pic p{
        margin-left: 50px;
        margin-bottom: 20px;
    }
}


@media screen and (min-width: 800px){
    .container_pic img{
        height: 90%;
        width: 200px;
        margin-right: 15%;
    } 
    
}

@media screen and (max-width: 1200px){
    .container_pic img{
        height: 90%;
        width: 300px;
    } 
}

