.p-header {
   
    width: 500px;
    height: 500px;
    background-color: aquamarine;
    align-items: center;
    margin: 35%;
    background-image: url(../img/potato.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
}



.p-header_div >p{
    text-shadow: 0.8px 1px gray;
    padding:10px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 400;
}